
div.field-uploadselectbox {
	background: #E4E4E0;
	padding: 0.5em;
}

div.field-uploadselectbox label {
	margin-top: 0;
}

p.uploadselectbox-preview {
	font-size: 0.9em;
	margin-bottom: 0;
}

p.uploadselectbox-preview img {
	display: block;
}